<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-init-method="myinit" default-destroy-method="cleanup">
    -->
    <beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
               
     <context:annotation-config/>

    <bean id="triangle" class="springdemo1.Triangle"  name="triangle-alias1">
        <!--   <property name="type" value="Equilateral"/>-->
    <!-- <constructor-arg index="0" value="Equilateral"/>
      <constructor-arg  index="1" value="10"/>
    -->
   <property name="point1" ref="point1"/>
   
   <!--  <property name="point2" ref="point2"/>
    <property name="point3" ref="point3"/>-->
    <property name="point2" ref="point2"/>
       
    <property name="point3" ref="point3"/>
         
    
       <!--   Example of list
         <property name="points">
            <list>
                <ref bean="point1"/>
                <ref bean="point2"/>
                <ref bean="point3"/>
            </list>
        </property>-->
    </bean>
  
   
     <bean id="point1" class="springdemo1.Point">
         <property name="x" value="0"/>
         <property name="y" value="0"/>
     </bean>
     
     <bean id="point2" class="springdemo1.Point">
         <property name="x" value="0"/>
         <property name="y" value="-20"/>
     </bean>
     
    <bean id="point3" class="springdemo1.Point">
         <property name="x" value="20"/>
         <property name="y" value="0"/>
     </bean>
     
     <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
         <property name="basenames">
             <list>
                 <value>mymessages</value>    <!--- name of our proprties file-->
                 
             </list>
         </property>
     </bean>
  <context:component-scan base-package="springdemo1"/>
     <!--  <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean class="springdemo1.Displaybeannamepostprocessor"/>
    <alias name="triangle" alias="triangle-alias"/>-->
</beans>


